#formulario {
    display: inline-block;
    position: absolute;
    width: 80%;
    padding: 1rem;
    top: 1rem;
}

.f_contacto {
    color: var(--color-blanco);
    background-color: var(--color-claro-transparencia);
    border: 1px solid var(--color-medio);
    font-size: var(--font-family-general);
    font-weight: 600;
    display: inline-block;
    position: relative;
    width: 80%;
    min-height: 35vh;
    padding: 1rem;
    border: 1px solid var(--color-medio);
    left: 50%;
    transform: translateX(-50%);
}
fieldset {
    position: relative;
    margin: 1rem;
    border: 1px solid var(--color-medio);
}
legend {
    margin: 3px 0;
}
p.input{
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 1rem;
    font-size: var(--font-family-general);
    font-weight: 600;
    height: 3rem;
}

#nombre, #email, #telefono, #asunto {
    width: 65%;
    height: 2rem;
}
#mensaje {
    position: absolute;
    transform: translateY(-10%);
    width: 70%;
    height: 5rem;
}
form p, form button {
    margin: 1rem;
}

form button {
    position: relative;
    width: 20%;
    height: 3rem;
    background-color: var(--color-claro);
    color: var(--color-blanco);
    border: 1px solid var(--color-medio);
    font-size: var(--font-family-general);
    font-weight: 600;
    cursor: pointer;
    float: right;
    margin: 1rem;
}
