#formulario {
    display: inline-block;
    position: absolute;
    width: 80%;
    padding: 1rem;
    top: 1rem;
}

h1 {
    color: black;
    font-size: var(--font-size-titulo);
    padding-left: 10px;
}

.f_contacto {
    color: var(--color-blanco);
    background-color: #FCFCFC;
    border: 1px solid var(--color-oscuro);
    font-size: var(--font-family-general);
    font-weight: 600;
    display: inline-block;
    position: relative;
    width: 80%;
    min-height: 35vh;
    padding: 1rem;
    border: 1px solid var(--color-medio);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;

}

.f_contacto h2 {
    text-align: center;
    padding: 5px;
    font-size: var(--font-size-titulo);
}

.f_contacto hr {
    margin: 15px;
    border: 1px solid var(--color-oscuro);
}

fieldset {
    position: relative;
    margin: 1rem;
    /* border: 1px solid #545454; */
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
legend {
    margin: 3px 0;
}
p.input{
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 1rem;
    font-size: var(--font-family-general);
    font-weight: 600;
    height: 3rem;
}

#campo-texto1 {
    width: 50%;
    height: 1.5rem;
    border-radius: 7px;
    border: 1px solid #545454;
    padding-left: 5px;
    margin-top: 5px;
}

#campo-texto1:focus {
    outline: none;
}

#mensaje {
    transform: translateY(-10%);
    width: 50%;
    height: 7rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #545454;
}

#mensaje:focus {
    outline: none;
}

form p, form button {
    margin: 1rem;
}

form button {
    position: relative;
    width: 10%;
    height: 3rem;
    background-color: var(--color-claro);
    color: var(--color-blanco);
    /* border: 1px solid var(--color-medio); */
    border-radius: 10px;
    font-size: var(--font-family-general);
    font-weight: 600;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    float: right;
}

form button:hover {
    background-color: var(--color-medio-oscuro);
    transform: scale(1.05);
}

.caja-campo {
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
}

.f_contacto select {
    width: 20%;
    height: 1.5rem;
    border-radius: 7px;
    border: 1px solid #545454;
}
