* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E99B62;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
header * {
    display: inline-block;
}
section article {
    position: inherit;
}
#flag {
    height: 25px;
}

.grid-container {
    display: grid;
    grid: auto / auto auto auto ;
    grid-gap: 75px;
    padding: 50px;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    height: fit-content;
    width: fit-content;
    border-radius: 3px;
    transition: width 10s;
    box-shadow: 2px 2px 2px 2px #444444;
}

.grid-item:hover {
    width: 300px;
}

.grid-item:hover #img-producto {
    width: 100%;
}

#img-producto {
    width: 225px;
  /*  height: 225px;*/
}

.grid-item > *  {
    margin-bottom: 10px;
    border-radius: 3px;
}

.texto-etiqueta  {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    display: block;
}
