* {
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #cc7738;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}
header * {
    display: inline-block;
}
section article {
    position: inherit;
}
#flag {
    height: 1.5rem;
}

