
.informacion {
    /* padding: 50px; */
    margin: 30px;
    width: 75%;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.informacion p {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: --font-size-medio;
    color: var(--color-negro);
}

.mapa {
    /* padding: 50px; */
    height: 100%;
    margin: 30px;
    width: 75%;
    justify-content: center;
    margin-bottom: 70px;
    margin: 0 auto;
}

.mapa iframe {
    height: 300px;
    width: auto;
}

.mapa p {
    padding-left: 15px;
    padding-right: 15px;
    /* margin-top: 10px; */
    font-size: var(--font-size-pequeño);
    color: var(--color-negro);
}

.mapa section {
    display: flex;
    align-content: center;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.mapa i {
    color: var(--color-oscuro);
}

h2 {
    color: var(--color-negro);
}

hr {
    width: 60%;
}

p {
    width: 60%;
}

