* {
    margin: 0;
    padding: 0;
}
html body {
    width: 100%;
}
body {
    background-color: black;
}
nav {
    width: 70%;
    margin: 3rem auto 0 auto;
    height: 5rem;
    background-color: white;
}
ul {
    text-align: center;
    height: 100%;
}
li {margin: 0 .5rem;
    display: inline-block;
    border: 1px solid rgb(187, 178, 178);
    padding: 1rem 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.tab1 {
    font-size:x-large;
    background-color: rgb(52, 250, 101);
}
form {
    margin: 0 auto;
    background-color: rgb(52, 250, 101);
    position: relative;
}
section {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    transform: translateY(-10px);

}